<h3>Name: @ViewBag.ThisUser.Name</h3>
<h3>Alias: @ViewBag.ThisUser.Alias</h3>
<h3>Email: @ViewBag.ThisUser.Email</h3>
<hr>
<h4>Total Number of Posts: @ViewBag.Posts.Count</h4>
<h4>Total Number of Likes I've Made: @ViewBag.Likes.Count </h4>
<h4>Total Number of Likes on my Posts @ViewBag.LikedMyPosts</h4>